*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.one{
    /* border:2px solid; */
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 2px;
}
.main{
    /* border:2px solid; */
    background: #f87474;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.first{
    /* border: 2px solid; */
     font-family: 'Motserrat','Poppins','Arial',sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    background: linear-gradient(110deg,#fff4b8 10%,#ffd6d6 50%,#fb99d4 80%);

}
.nxt{
    padding:75px;
}
.two{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
}
.three img{
    width:750px;
    height:750px;
    object-fit:cover;
}
#heading{
    padding: 70px 5px;
    letter-spacing: 3px;
    font-size: 40px;
}
#para{
 font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}
#btn{
      margin-top: 40px;
    align-items: center;
    width: 250px;
    height: 50px;
    border: 1px solid #f87474;
    background: #f87474;
    color: white;
}

.second{
      width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 150px 0px;

}
.four{
    width: 520px; 
    display: grid;
    grid-template-columns: 280px 280px;
    grid-auto-rows: 200px;
    gap: 20px;
}
.four img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.four img:nth-child(2){
    grid-row:span 2;
}
.prt3{
    width: 480px;          
    padding: 24px 24px;    
    background: #f87474;
    text-align: left;
}
#o{
display: inline-block; 
    width: 100%;           
    text-align: left;      
    font-size: 15px;
    letter-spacing: 2px;
    margin: 0 0 16px 0; 
}
.prt3 h1{
    font-size: 40px;
    font-weight: 770;
    line-height: 1.3;
    letter-spacing: 6px;
    margin: 0 0 28px 0;            
    text-align: left; 
}
#w1{
     display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.prt3 img{
    width: 22px;
    height: auto;
}

@media (max-width:768px){
    *{
        display:block;
    }
    .main{
        width:100%;
        padding:15px;
        position:static;
    }
    .one{
        width:100%;
         display: flex;
        flex-direction: column;   
        align-items: flex-start;
        font-size: 16px;
        letter-spacing: 1px;
    }
    .one p{
         width: 100%;
        padding: 10px 0;
        
        display: block;
    }
    .two{
         display: flex;
        flex-direction: column;

    }
    .three{
        order:1
    }
    .three img{
        width: 100%;
        height: auto;
    }
    #btn{
         align-items: center;
    width: 150px;
    height: 30px;
    }


@media (max-width:768px){
    .second{
           height: auto;
        display: flex;
        flex-direction: column;
        padding: 60px;
        gap: 30px;
    }
    .four{
        order: 1;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 160px;
        gap: 15px;
    }
    .four img:nth-child(2){
        grid-row:span 2;
    }
    .prt3{
        order: 2;
        width: 90%;
        font-size: 30px;
        text-align: center;
    }
    .prt3 h1{
         font-size: 30px;
         letter-spacing:8px;
    }

}
}

@media (max-width:320px){
    .four{
        /* border:2px solid; */
        height: 200px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 110px;   
        gap: 10px;
    }
    .prt3{
         width: 100%;
        margin: 30px;
    }
    .prt3 h1{
          font-size: 20px;
        letter-spacing: 4px;
    }
}

@media (min-width:769px) and (max-width:1024px){
    .one{
         width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        letter-spacing: 2px;
    }
    .one p{
         margin: 0 14px;
    }
    .two{
          display: flex;
        flex-direction: row;   
        width: 100%;
        align-items: stretch;
    }
    .nxt{
        width: 50%;
        padding: 60px;
    }
    .three{
        width:50%;
    }
    .three img{
          width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    #heading{
           font-size: 42px;
        padding: 40px 0;
    }
    #para{
        font-size:18px;
    }
    .second{
        display: flex;
        flex-direction: row;
        gap: 60px;
        padding: 80px 40px;
    }
    .four{
         width: 50%;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 180px;
    }
    .prt3{
        width:45%;
        padding:30px;
    }
    .prt3 h1{
        font-size: 34px;
        letter-spacing: 4px;
    }
}


@media screen and (min-width: 1025px) and (max-width: 1199px) {

    .two {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .nxt {
        width: 50%;
        padding: 60px; 
    }

    .three {
        width: 50%;
    }

    .three img {
        width: 100%;       
        height: 600px;
        object-fit: cover;
        display: block;
    }
}

@media screen and (min-width: 1440px) {

  
    .first {
        width: 100%;
    }

  
    .two {
        display: flex;
        align-items: center;
        width: 100%;
    }

  
    .nxt {
        width: 50%;
        padding: 75px; 
    }


    .three {
        width: 50%;
    }

    .three img {
        width: 100%;
        height: 750px;
        object-fit: cover;
        display: block;
        overflow: hidden;
    }

    
    .second {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px; /* same as base */
        padding: 150px 0;
    }

    .four {
        width: 520px;
    }

    .prt3 {
        width: 480px;
    }
}
